h1 {
	margin: auto;
	text-align: center;
}
#global-status {
	margin: auto;
	text-align: right;
}
nav {
	display: flex;
	padding: 0;
}
nav button {
	flex: 1;
}
main .downloading li {
	margin: 1em;
}
main .downloading li .item-head div {
	height: 1.1em;
}
main .downloading li .item-head > div > :first-child {
	float: left;
}
main .downloading li .item-head > div > :last-child {
	float: right;
}

section.new-download,section.downloaded,section.deleted,section.setting {
	display: none;
}

main .item-details .tab-header {
	flex: 1;
}
main .item-details .tab-header ul {
	padding: 0;
}
main .item-details .tab-page {
	flex: 5;
}
main .item-details {
	display: none;
}
footer {
	position: absolute;
	bottom: 0;
	width: 99%;
	text-align: center;
}
